:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 40px;

  /* Font-size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

button,
button:focus {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
/*navnar start!*/

.navbar {
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav_logo a {
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.nav_logo i {
  font-size: 20px;
  color: rgb(255, 35, 35);
}
.nav_icon {
  display: flex;
  color: white;
}
.nav_icon li {
  list-style: none;
  padding: 4px 8px;
}
.nav_icon a {
  color: white;
}
/*navbar end*/

/*video start*/
.video-container {
  text-align: center;
  background-color: black;
  position: sticky;
  top: 0;
}
.video-container iframe {
  max-width: 1000px;
  height: 400px;
}
/*video end*/

/*video info start*/
.video {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(201, 201, 201);
  width: 100%;
}
.video_info h4 {
  margin: 2px 0px;
}
.video_hash a {
  text-decoration: none;
  color: rgb(0, 132, 255);
}
.video_moreinfo h6 {
  margin: 0;
  color: rgb(201, 201, 201);
}
.video_icon {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px 0px;
}
.video_icon a {
  font-size: 20px;
  color: rgb(121, 121, 121);
}
/*video info end*/

/*user info start*/

.user_info img {
  border-radius: 90%;
  padding-right: 10px;
}

.user_info {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(201, 201, 201);
}
.user_info .user_sub1 {
  font-size: 5px;
  color: rgb(121, 121, 121);
}
.user_sub2 {
}
.user_meta_data {
  display: flex;
}
/* actions */
ul {
  list-style: none;
}
.actions {
  display: flex;
  justify-content: space-around;
}

.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  margin: calc(var(--padding) / 2);
}
.actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.user_sub2 a {
  text-decoration: none;
  color: red;
}

/*user info end*/

/*video index start*/
.upNext {
  margin: var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
}

.upNext ul {
  margin-top: var(--padding);
}

.upNext .item {
  display: flex;
}

.upNext .item img {
  width: 100%;
}

.upNext .item .img {
  flex: 1 1 35%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
  margin-left: var(--padding);
}

.upNext .item .info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.upNext .item .moreBtn {
  height: 100%;
  font-size: 16px;
}

.infoAndUpnext {
  display: flex;
  flex-direction: column;
  margin: var(--padding);
}
/*video index end*/

/*hover effect*/
.user_sub2:hover {
  transition: background-color 0.5s;
  text-decoration: none;
  background-color: #1d1d1d;
  border-radius: 6px;
}

@media screen and (min-width: 900px) {
  .metaAndUpnext {
    display: flex;
  }
  .user_meta {
    flex: 1 1 50%;
  }
  .upNext {
    flex: 1 1 50%;
  }
}
