:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 40px;

  /* Font-size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

ul {
  list-style: none;
}

button,
button:focus {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  color: var(--white-color);
  background-color: var(--black-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video */
.player {
  text-align: center;
  box-sizing: border-box;
  background-color: var(--black-color);
  position: sticky;
  top: 0px;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

/* Video info */

body > .info {
  margin: var(--padding);
}
.info .metadata .hashtag {
  display: flex;
}
.info .metadata .hashtag li {
  margin-right: var(--padding);
  color: var(--blue-color);
  font-size: var(--font-small);
}

.info .metadata .titleAndButton {
  display: flex;
  justify-content: space-between;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}
.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel {
  padding: var(--padding);
}

/* Actions */
.actions {
  display: flex;
  justify-content: space-around;
}

.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  margin: calc(var(--padding) / 2);
}
.actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}
/* Channel */
.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-color);
  border-top: 1px solid var(--grey-light-color);
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .metadata {
  display: flex;
  align-items: center;
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .subscribe {
  color: var(--red-color);
  margin-right: var(--padding);
}

/* Up Next */
.upNext {
  margin: var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
}

.upNext ul {
  margin-top: var(--padding);
}

.upNext .item {
  display: flex;
}

.upNext .item img {
  width: 100%;
}

.upNext .item .img {
  flex: 1 1 35%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
  margin-left: var(--padding);
}

.upNext .item .info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.upNext .item .moreBtn {
  height: 100%;
  font-size: 16px;
}

.infoAndUpnext {
  display: flex;
  flex-direction: column;
  margin: var(--padding);
}

@media screen and (min-width: 900px) {
  .infoAndUpnext {
    display: flex;
    flex-direction: row;
    margin: var(--padding);
  }
}

.actions i:hover {
  color: var(--blue-color);
  transition: all 0.3s ease-in 0s;
}
.actions span:hover {
  color: var(--blue-color);
  transition: all 0.3s ease-in 0s;
}
