body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background-color: rgb(231, 249, 252);
}
a{
    text-decoration: none;
    color:rgb(255, 240, 240);
}
.navbar{
    background-color:#263343 ;
    color:rgb(255, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    
}
.navbar__logo{
    color:powderblue;
    font-size:24px;
}

.navbar__menu{
    display:flex;
    padding-left:0;
    list-style: none;
}
 
.navbar__menu li{
    padding:8px 12px;
}

.navbar__menu li:hover{
    transition: background-color .5s;
    text-decoration: none;
    background-color: rgb(81, 208, 224);
    border-radius: 4px;
    
}
.navbar__icons{
    display:flex;
    padding:0;
}

.navbar__icons li{
    color:rgb(255, 240, 240);
    padding:8px 12px;
    list-style: none;
}

.navbar__toggleBtn{
    display:none;
    position:absolute;
    right:22px;
    top:12px;
    font-size:22px;
    color:powderblue;
}

@media screen and (max-width:950px){
    .navbar{
        flex-direction: column;
        align-items:flex-start;
    }
    .navbar__menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .navbar__menu li{
        padding:8px 12px;
        width:100%;
        text-align: center;
    }
    
    .navbar__logo{
        justify-content:start;
    }
    .navbar__icons{
        display:none;
        justify-content: center;
        width:100%;
    }
    .navbar__toggleBtn{
        display:block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
        display:flex;
    }
}